{% extends "CADIApp/base.html" %}

{% load static %}

{% block content %}

    {% for anuncio in anuncios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{anuncio.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="font-size: 1em;">{{anuncio.titulo}}</span>
                <span class="section-heading-upper">{{anuncio.contenido}}</span>
              </h2>
              </p>
             
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

    <section>
        <div style="width: 75%; margin:auto; text-align:center; color:white;">

            Categorias:

            {% for anuncio in anuncios %}

                {% for categoria in anuncio.categorias.all %}

                    <a href="{% url 'categoria' categoria.id %}" class="linksCategorias">{{categoria.nombre}}</a> |
                
                {% endfor %}

            {% endfor %}

        </div>
    </section>
{% endblock %}